!!! 5
html(lang='en')
  head
    title Harmony | #{title}
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/pages.css')
      script(type="text/javascript", src="/javascripts/coffee-script.js")
      script(src="/javascripts/jquery.js")
      script(src="/javascripts/jquery.easing.1.3.js")
      script(type="text/coffeescript").
        $ ->
          $('#nav > div').hover( ->
            $this = $(this)
            $this.find('img').stop().animate {
              'width'     :'199px'
              'height'    :'199px'
              'top'       :'-25px'
              'left'      :'-25px'
              'opacity'   :'1.0'
            }, 500, 'easeOutBack', ->
              $(this).parent().find('ul').fadeIn(700) 
            $this.find('a:first,h2').addClass('active')
          
          ->
            $this = $(this)
            $this.find('ul').fadeOut 500
            $this.find('img').stop().animate {
              'width'     :'52px'
              'height'    :'52px'
              'top'       :'0px'
              'left'      :'0px'
              'opacity'   :'0.1'
              }, 5000, 'easeOutBack'
            $this.find('a:first h2').removeClass('active')
          )

  block header 
    include ../partials/_header 
  block content

    