extends layouts/layout

append scripts
  script(type='text/coffeescript', src='javascripts/pages/amazon.coffee')

block content 
  h1#amazon

  #amazon_content_div

     form
       h3 Search for Albums
       label(for="amazon_search_form") by Band/Artist
       input#amazon_search_form(name="amazon_search_form", type='text')
       input(name="commit", type="submit", value="Search")

     
   #amazon_results_div
