extends layouts/layout

append scripts
  script(type='text/coffeescript', src='javascripts/pages/index.coffee')

block content
  h1#home_title_h1 Welcome to <br/> Harmony

  button#home_newsfeed_button News Feed
  #home_feed_div