extends layouts/layout

append scripts
  script(type='text/coffeescript', src='javascripts/pages/index.coffee')

block content
  #index_content
    #title_div
      h1#home_title_h1 Welcome to Harmony

    a(href='#', id='feed_last') <
    button#home_newsfeed_button News Feed
    a(href='#', id='feed_next') >
    
    #home_feed_div