extends layouts/layout

block content 
  h1#lastFM

  #lastFM_content_div

    form(action='/lastFM', method='GET')
      label(for='lastFM_search_form') Find Upcoming Concerts and Festivals 
      input#lastFM_search_form(type='text', name='lastFM_search_form')
      input(type='submit', value='List')

    #lastFM_left_div
      p Upcoming Events List:
      ul#lastFM_events_list

    #lastFM_right_div
      #lastFM_map_div
        p Select an Event to see the map!