extends layouts/layout

append scripts
  script(type='text/coffeescript', src='javascripts/pages/concerts.coffee')
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClnt9-I5FJqcRJK35GxFMsY-vRTc7N8N8&sensor=false')

block content 
  h1#lastFM

  #lastFM_content_div

    #lastFM_form_div
      form
        input#lastFM_search_form(type='text', name='lastFM_search_form')
        input(type='submit', id='lastFM_submit', value="")
    #lastFM_show_div
      #lastFM_left_div
        p Upcoming Events List:
        ul#lastFM_events_list

      #lastFM_middle_div

      #lastFM_right_div
        #lastFM_map_div
          p Select an Event to see the map!