extends layouts/layout

append scripts
  script(type='text/coffeescript', src='javascripts/pages/search.coffee')

block content 
    #search_content_div
      form()
        label(for='artist_search_field') Search 
        input(name='artist_search_field', type='text')
        input(type='submit', value='Submit')


      #search_info_div

      #search_save_div
