/*PagesController global styles*/
html, body{
  margin:2px;
  padding:2px;
  height:100%;
}

/* home page styles */
h3{
  padding:5px;
  margin:0;
}

h5{
  padding:0;
  margin:0;
  text-align:center;
}

#home_title_h1{
  position: relative;
  top: 30%;
  left: 3%;
  display:inline-block;
  vertical-align:top;
  color:white;
}

#title_div{
  text-align: center;
}

#index_content{
  position:absolute;
  top:160px;
  left:0px;
  width:100%;
  height:100%;
  background-color: #ffcb00;
  background: url(../images/retro-sunbeam.jpg);
  background-size:100%;
}

#home_feed_div{
  height:90%;
  width:90%;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  /*display:table;*/
}


#signin_msg_home{
  text-align: center;
  background-color: white;
  font-size: 30px;
  font-family: Palatino;
}

#home_button_div{
  text-align:center;
  height:20%;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  opacity: 0.5;
  background-color: #d1a152;
}

#home_newsfeed_button{
  width: 100px;
  height: 50px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  font-size: 17px;
  font-family: Georgia, serif;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;

}

#newsfeed_story_p {
  font-family: Arial;
  /*display: inline-block;*/
  /*border: 1px solid;*/
  padding: 5px;
  opacity:0.8;
  width:345px;
  height:20%;
  vertical-align:top;
}

#gallery li{
  float:left;
  list-style:none;
  margin: 0 20px 0 20px;
}

#gallery{
  position:relative;
  top:0;
  left:0;
}

#newsfeed_story_p p{
  margin:5px;
}

#feed_last{
  font-size:100px;
  float:left;
  color:white;
}

#feed_next{
  font-size:100px;
  float:right;
  color:white;
}
/*#newsfeed_story_p:nth-child(4n+0){
  display:table-row;
}*/

/* about page styles */
#about_content_div{
  position:relative;
  top:150px;
}

#about_map_div{
  width:500px;
  height:400px;
}

/* lastFM page styles */

#lastFM_content_div{
  position:relative;
  top:150px;
}

#lastFM_upcoming_submit{
  margin: 10px;
}

#lastFM_left_div{
  margin:0;
  padding:0;
  width: 49%;
  height: 100%;
  float:left;
  /* try this
  position:absolute;
  top:0;
  left:0;
  width:50%;
  */
}

#lastFM_right_div{
  margin:0;
  padding:0;
  width: 49%;
  height: 100%;
  float:right;
  /* try this
  position:absolute;
  top:0;
  right:0;
  width:50%;
  */
}

strong{
  margin-top:15px;
}

#lastFM_content_div{
  position:relative;
  top:200px;  
}

#lastFM_map_div {
  position: fixed;
  width: 500px; 
  height: 400px; 
  float: none;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}


#lastFM_events_list {
  margin:0;
  padding:0;
  list-style-type: none;

}

#lastFM_events_list li{
  margin: 5px 0px 5px 0px;
  border: solid 1px;
  display: block;
}

#lastFM_events_list li img{
  vertical-align: text-top;
}

.lastFM_panel_front h2{
  padding:8px 6px 6px 6px;
  font-size:15px;
  color:#eee;
  letter-spacing:-1px;
  float:left;
}

.lastFM_panel_front img{
  float:left;
  border:1px solid #000;
  margin-right:10px;
  display: inline-block;
}

.lastFM_panel_front{
  /*border:1px solid #008AFF;*/
  margin-top:10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius:25px;
}

.lastFM_info_span{
  display:none;
  background-color:#000;
  margin: 10px;
  opacity:0.8;
}

.lastFM_info_span p, .lastFM_info_span h3{
  color:white;
}

.sub_panel:hover span{
  display:block;
}

.sub_panel{
  clear:both;
  float:left;
  width:100%;
}

/* Amazon page styles */
/*#amazon_content_div{
  position: relative;
  top: 200px;
}

#amazon_content_div div span{
  display:none;
  position: absolute;
}

#amazon_content_div div img{
  margin:20px;
}

#amazon_widget_div {
  border: 2px solid;
  width: 500px; 
  height: 800px; 
  float:right;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}*/

/* Search page styles */
#search_content_div{
  position:relative;
  top:170px;  
}

#search_info_div {
  border-radius: 25px;
  margin: 20px;
}

#search_info_div img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#search_info_div p, h3{
  margin-right:auto;
  margin-left:auto;
  max-width: 1300px;
}

#search_save_div {
  width: 100px;
  height: 100px;
}

/* Session stuff */
#session_content_div{
  position: relative;
  top: 200px;
}