/* APPLICATION-WIDE SETTINGS */

/* Declaring fonts */
@font-face
{
  font-family: scriptStyle;
  src: url('../fonts/SCRIPTIN.ttf');
}

body{
    width:100%;
    height:100%;
}
/* Awesome way to make perfect full-screen backgrounds that dont suck 
   Also here is CSS3 multiple background-images
*/
html 
{
    
    /*background: url(../images/canvas.jpg) fixed;*/
    /*background-repeat: no-repeat, no-repeat;*/ 
    /*background-position: right bottom, center center;*/
    /*background-size: auto, cover;*/
}

/* Top-level headers should look fancy */
h1
{
  font-family: scriptStyle;
  font-size: 60px;
  margin:0px;
  padding:0px;
  border:0px;
}

/* Header styles */
.navigation{
    position:absolute;
    left: 0;
    top: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
    width: 100%;
    height:160px;
    background: url(../images/canvas.jpg) repeat-x;
    z-index:100;
}
.navigation .item{
    position:absolute;
}
.home{
    top:30px;
    left:5%;
}
.user{
   top:30px;
   left:25%;
}
.concerts{
   top:30px;
   left:45%;
}
.albums{
   top:30px;
   left:65%;
}
.search{
   top:30px;
   left:85%;
}
a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.user a.icon{
    background:transparent url(../../images/navigation/user.png) no-repeat 0px 0px;
}
.home a.icon{
    background:transparent url(../../images/navigation/home.png) no-repeat 0px 0px;
}
.albums a.icon{
    background:transparent url(../../images/navigation/albums.png) no-repeat 0px 0px;
}
.search a.icon{
    background:transparent url(../../images/navigation/search.png) no-repeat 0px 0px;
}
.concerts a.icon{
    background:transparent url(../../images/navigation/concerts.png) no-repeat 0px 0px;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:52px;
    height:52px;
    opacity:0.1;
}
.item h2{
    position:absolute;
    width:147px;
    height:52px;
    color:#222;
    font-size:18px;
    top:0px;
    left:52px;
    text-indent:10px;
    line-height:52px;
    text-shadow:1px 1px 1px #fff;
    text-transform:uppercase;
}
.item h2.active{
    color:#fff;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:45px;
    left:15px;
    display:none;
}
.item ul li a{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
}
.item ul li a:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
}

/* Flash styles */
.flash_notice {
    background-color: red;
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.flash_success{
    color: green;
    border: green 3px solid;
    padding: 10px;
    width: 50%;
}

.flash_error{
    background-color: red;
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
    width: 50%;
}