extends ../layouts/layout

append scripts
  script(type='text/coffeescript', src='../javascripts/pages/show.coffee')

block content
  #profile_div
    #profile_user_div
      img(src='/avatars')
      h1= session.user

    #profile_bands_div
      span
        b Bands you are following:
      a(href='#', id='feed_last') <
      a(href='#', id='feed_next') >
      #show_div
        ul
          - each item in images
            li
              p= item.name
              img(src=item.url)
